<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                Copyright © 2018 <a href="http://www.pixlcoders.com">Pixlcoders.com</a>.
                All rights reserved.
            </div>
        </div>
    </div>
</footer>