<ul class="nav nav-tabs nav-links nav-stacked sidebar_nav_sec">
    <li>
        <a  class="{{#ifCond menu_link '===' 'profile'}}active{{/ifCond}}" href="/">
            <i class="fa fa-user"></i>User Management
        </a>
    </li>
    <li>
        <a  class="{{#ifCond menu_link '===' 'education'}}active{{/ifCond}}" href="/education">
            <i class="fa fa-book"></i>Coupons
        </a>
    </li>
    <li>
        <a class="{{#ifCond menu_link '===' 'documents'}}active{{/ifCond}}" href="/documents">
            <i class="fa fa-folder-open"></i>Siubscriptions
        </a>
    </li>
    <li>
        <a class="{{#ifCond menu_link '===' 'certifications'}}active{{/ifCond}}" href="/certifications">
            <i class="fa fa-users"></i>Employee Management
        </a>
    </li>
</ul>