<html>
<head>
    {{>header_assets}}
</head>
<body>
{{>header class="normal" logo="logo-normal"}}
<section class="page_404">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="">Page not found</h1>
            </div>
        </div>
    </div>
</section>
{{>footer}}
{{>footer_assets}}

</body>
</html>

