<!doctype html>
<html lang="en" dir="ltr">
<head>
    {{>header_assets}}
</head>
<body class="">
<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <form class="card" id="jsForgotPassword">
                        <div class="card-body p-6">
                            <div class="card-title">Forgot password</div>
                            <p class="text-muted">Enter your email address and your password will be reset and emailed to you.</p>
                            <div class="form-group">
                                <label class="form-label" for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control js_email"  placeholder="Enter email">
                            </div>

                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-center text-muted">
                        Forget it, <a href="/login">send me back</a> to the sign in screen.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer_assets}}
<script type="text/javascript">
    $(function () {
        LoginPage.initForgotPassword();
    });
</script>
</body>
</html>