<!doctype html>
<html lang="en" dir="ltr">
<head>
    {{>header_assets}}
</head>
<body class="">
<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <form class="card" id="jsUpdatePassword">
                        <div class="card-body p-6">
                            <div class="card-title">update password</div>
                            <p class="text-muted">your password is updated.</p>
                            <div class="form-group">
                                <label class="form-label">new password</label>
                                <input type="password" class="form-control js_newpassword required "
                                       placeholder="Enter new password">
                                <input type="hidden" class="js_token" value="{{token}}">
                            </div>

                            <div class="form-group">
                                <label class="form-label">confirm new password</label>
                                <input type="password" class="form-control js_confirmpassword required "
                                       placeholder="confirm new password">
                            </div>

                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-center text-muted">
                        Forget it, <a href="/login">send me back</a> to the sign in screen.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer_assets}}
<script type="text/javascript">
    $(function () {
        LoginPage.initUpdatePassword();
    });
</script>
</body>
</html>