$brand_color_1: #00AAD2;
$brand_color_2: #EA661D;
$brand_color_3: #98C75B;
$brand_color_light: #F3FBFC;
$text_color: #333333;
$text_color_1: #424242;
$text_color_2: #5C5C5C;
$text_color_3: #ABABAB;
$back_color_1: #222222;
$back_color_2: rgba(155, 155, 155, 0.13);
$border_color_1: #9B9B9B;
$border_color_2: #979797;

$page_back_one: #f0f3f9;

$font_family: 'Maven Pro', sans-serif;
$header_txt_font: 'Maven Pro', sans-serif;


//Colors
$facebook: #3A5998;
$twitter: #1AB7EA;
$tumbler: #35455C;
$google: #DD4B39;
$pinterest: #CC1F27;
$success: #33E094;
$warning: #F18806;
$info: #59C3C3;
$error: #F93838;
$ratings: #F7B20F;
$orange: #F18806;
$orange_light: #F1AB06;
$red: #F93838;
//Page variables
$header_height: 90px;
