<div class="cd-popup is-visible {{theme}}" role="alert" id="windowPopup">
    <div class="cd-popup-container">
        {{{html}}}
        <a href="#0" class="cd-popup-close">
            <span class="fe fe-x cd-popup-close-icon"></span>
        </a>
    </div>
</div>